@media print, (max-width: 767px) {

    :root {
        --font_size: 15px;
        --font_size_title: 22px;
    }

    .header_language {
        display: none;
    }
    .header_language-select {
        display: block;
        width: 60px;
    }
    .header_logo {
        width: 99px;
    }
    .header_logo img {
        width: 100%;
    }
    .header_contacts .header_contact-phone {
        font-size: 7px;
        line-height: 8px;
        margin-left: 19px;
    }
    .header_contacts .header_contact-phone img {
        width: 15px;
        height: 15px;
    }
    .header_top {
        padding: 13px 0 12px;
    }
    header .mob_menu_btn,
    header .close_btn {
        width: 25px;
        height: 15px;
        margin-right: 0px;
        margin-left: 20px;
    }
    header .menu {
        top: 75px;
    }

    .footer_menu {
        display: none;
    }
    footer .cont {
        flex-direction: column;
    }
    .footer_contacts {
        align-items: center;
        margin-top: 20px;
    }
    .footer_contacts-wrap {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer_contact-mesenger {
        order: 1;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    footer {
        padding: 30px 0;
    }




}
