@media print, (max-width: 1023px) {
 
    :root {
        --font_size: 15px;
        --font_size_title: 32px;
    }
    .title {
        margin-bottom: 35px;
    }
    header .mob_menu_btn {
        display: flex;
        flex-shrink: 0;
        order: 1;
    }

    header .menu {
        position: fixed;
        z-index: 107;
        top: 110px;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: calc(100% - 110px);
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 50px 0px 20px;
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;        
    }
    header .menu.show {
        transform: translateX(0);
    }
    .menu_open header .mob_menu_btn{
        display: none;
    }
    .menu_open header .close_btn {
        display: flex;
    }
    header .menu .item {
        width: 100%;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    .mob_menu_btn span {
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        transition: background .2s linear;
        background: #000; 
    }
    .mob_menu_btn span:before, 
    .mob_menu_btn span:after {
        position: absolute;
        top: -8px;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        transition: .2s linear;
        background: #000;
    }
    .mob_menu_btn span:after {
        top: 8px;
    }
    .mob_menu_btn.active span {
        background: transparent;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }

    header .logo-mob {
        display: block;
        margin-right: 20px;  
        padding-right: 10px;
        border-right: 1px solid #EFEFEF;     
    }
    .header-phone {
        margin-right: 30px;
        margin-left: auto;
        color: #4B4B4B;
    }
    header .menu .cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    header .menu .item {
        margin-right: 0;
    }
    header .menu .item a {
        display: block;
        text-align: start;
    }
    .header-phone_mob {
        display: block;
        padding: 23px 0 24px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #262626;
        text-decoration: none;
    }
    header .menu .first-section_btn-mob {
        display: flex;
        width: 335px;
    }
    header .menu .item > a {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;        
        color: #000000;
        padding: 10px 0;
        
    }
    header .menu .item {
        border-top: 1px solid #B1B1B1;
    }
    header .menu .item:first-child {
        border-top: 1px solid transparent;
    }

    .header_contacts .header_contact-email {
        display: none;
    }
    .header_contacts .header_contact-mesenger {
        display: none;
    }
    .header_contacts-mob {
        display: block;
        margin-top: 30px;
    }
    .header_contacts-mob .header_contact img {
        display: block;
        margin-right: 5px;
    }
    .header_contacts-mob .header_contact:nth-child(2) img {
        margin-right: 9px;
    }
    .header_contacts-mob .header_contact {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;        
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .header_contacts-mob .header_contact .header_contact-box {
        display: flex;
        align-items: center;
    }
    .header_contacts-mob .header_contact .header_contact-box img + img {
        margin-right: 6px;
    }
    .header_contacts .header_contact-phone {
        display: flex;
        align-items: center;
    }
    .header_contacts .header_contact-phone img {
        margin-bottom: 0;
        margin-right: 6px;
    }
    .header_top {
        width: 100%;
        position: fixed;
        z-index: 222;
    }
    .first-section {
        margin-top: 114px;
    }
    .first-section_title-mob {
        font-size: 34px;
        line-height: 42px;
        margin-bottom: 20px;
    }
    .block {
        padding: 60px 0;
    }

    .footer_callback,
    .footer_menu li a,
    .footer_contact,
    .footer_politic,
    .footer_contract {
        font-size: 13px;
    }

    .advantages_item-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .advantages_item-text {
        font-size: 12px;
        line-height: 18px;
    }
    .advantages_bottom .advantages_item:nth-child(1) {
        margin-top: 7px;
        margin-left: 5px;
    }
    .advantages_top .advantages_item:nth-child(1):after {
        width: 9px;
        height: 8px;
        left: -10px;
        background-size: cover;
    }
    .partners_items {
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .partners_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .practics,
    .consultation {
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .practics_subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .practics_column ul li {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        padding-left: 35px;
    }
    .practics_column ul li::after {
        width: 20px;
        height: 10px;
        top: 5px;
        background-size: cover;
    }
    .practics_wrap {
        column-count: 1;
        column-gap: 0px;
    }
    .practics_column:first-child {
        margin-bottom: 50px;
    }
    .practics_text img {
        width: 25px;
        height: 13px;
        background-size: cover;
        margin-top: 5px;
    }
    .practics_text {
        margin-top: 50px;
        font-size: 22px;
        line-height: 30px;
    }

    .team_item-name {
        font-size: 18px;
        line-height: 22px;
    }
    .team_item-info {
        margin-top: 8px;
    }
    .consultation_img {
        width: 370px;
        height: 472px;
    }
    .consultation form {
        width: calc(100% - 400px);
    }
    form .line {
        margin-bottom: 10px;
    }
    form button {
        margin-top: 20px;
    }

    .price_item-img {
        width: 340px;
        height: 442px;
    }
    .price_box {
        width: calc(100% - 375px);
    }
    .price_item ul li {
        margin-top: 10px;
        padding-bottom: 10px;
    }
    .steps_items {
        margin-left: 0px;
        margin-bottom: -20px;
    }
    .steps_items > * {
        width: 100%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .steps_item:nth-child(1) {
        order: 1;
    }
    .steps_item:nth-child(2) {
        order: 2;
    }
    .steps_item:nth-child(3) {
        order: 4;
    }
    .steps_item:nth-child(4) {
        order: 3;
    }
    .steps_item:nth-child(5) {
        order:5;
    }
    .steps_item:nth-child(6) {
        order: 6;
    }
    .steps_item:nth-child(2)::before {
        display: none;
    }
    .steps_item:nth-child(3)::after {
        display: none;
    }
    .steps_item:nth-child(3)::before {
        display: none;
    }
    .steps_item:nth-child(6)::after {
        display: none;
    }
    .steps_item:nth-child(5)::before {
        display: none;
    }
    .steps_item:nth-child(1)::before {
        display: none;
    }
    .steps_item:nth-child(1)::after {
        display: none;
    }
    .steps_item-number {
        font-size: 28px;
        line-height: 28px;
    }

    .news_item {
        margin-left: 0;
        margin-right: 0;
        padding: 20px 15px;
    }
    .news_item-date {
        font-size: 18px;
        line-height: 24px;
        margin-top: 20px;
    }
    .news_item-title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 12px;
    }
    .news_item-text {
        margin-top: 10px;
    }

    .modal {
        padding: 76px 20px;
    }
    .partners_modal-wrap {
        flex-direction: column;
    }
    .partners_modal-info {
        width: 100%;
    }
    .partners_modal-title {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 20px;
    }
    .partners_modal-img {
        margin-top: 20px;
    }
    .fancybox__content>.carousel__button.is-close {
        top: 20px;
        right: 20px;
    }

    .team_modal-post {
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 20px;
    }
    .team_modal-name {
        margin-bottom: 20px;
    }

    .payment {
        padding: 150px 0;
    }
    .tab_content-box {
        flex-direction: column;
    }
    .payment_requisites {
        padding: 30px 14px;
        width: 100%;
        margin-top: 50px;
    }
    .tabs_container form {
        width: 100%;
    }
    .tabs_container form .line {
        margin-bottom: 20px;
    }
    .tabs {
        margin-bottom: 20px;
    }
    .tabs button.active {
        font-size: 15px;
        line-height: 20px;
    }
    .tabs button {
        font-size: 15px;
        line-height: 20px;
    }
    .tabs_container form .line:nth-child(3) .field {
        margin-right: 8px;
    }
    .tabs_container form .line .field input {
        border-bottom: 1px solid #000;
    }
    .payment_requisites-text p {
        margin-bottom: 10px;
    }
    .payment .nice-select {
        border-bottom: 1px solid #000000;
    }

    .cases_item {
        padding: 20px 20px;
    }
    .cases_item-title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .videos_item-img img {
        height: 360px;
    }


    

    
}
