@media print, (max-width: 1187px) {

    :root {
        --font_size: 16px;
        --font_size_title: 40px;
    }
    .first-section_info {
        position: relative;
        width: 100%;
        top: 0;
        margin-top: 20px;
    }
    .first-section .cont {
        flex-wrap: wrap;
    }
    .first-section_name {
        display: none;
    }
    .first-section_post {
        display: none;
    }
    .first-section_title {
        display: none;
    }
    .first-section_title-mob {
        display: block;
        width: 100%;
        font-family: 'Coworking';
        font-weight: 400;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 30px;
    }
    .first-section .cont {
        justify-content: center;
    }
    .first-section_left {
        margin-left: 20px;
    }
    .first-section_img {
        width: 330px;
        height: 437px;
    }
    .first-section_text {
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 30px;
        max-width: 510px;
    }
    .first-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .block {
        padding: 80px 0;
    }


    .footer_menu {
        columns: 1;
        column-gap: 20px;
    }
    .footer_menu li {
        margin-bottom: 24px;
    }
    .achievements .slick-slide img {
        display: block;
        padding: 0 30px;
        width: 100%;
        height: auto;
    }

    .advantages_item-title {
        font-size: 27px;
    }
    .advantages_item-text {
        font-size: 16px;
    }
    .title {
        margin-bottom: 40px;
    }
    .practics,
    .consultation {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .practics_subtitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .practics_column ul li {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 25px;
    }
    .practics_text {
        margin-top: 60px;
        text-align: start;
        font-size: 28px;
        line-height: 38px;
    }
    .practics_text img {
        margin-top: 7px;
    }

    .team_items {
        margin-left: -30px;
        margin-bottom: -30px;
    }
    .team_items > * {
        width: calc(100%/3 - 30px);
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .slick-prev {
        left: -15px;
    }
    .slick-next {
        right: -13px;
    }

    .cases_item-title br {
        display: none;
    }
    .consultation_img {
        width: 450px;
        height: 573px;
    }
    .consultation form {
        width: calc(100% - 520px);
    }
    .consultation_text {
        margin-bottom: 5px;
    }
    .price_item:first-child {
        margin-bottom: 50px;
    }
    .price_text {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .steps_items > * {
        padding: 21px 25px;
    }
    .steps_item-title span {
        font-size: 22px;
        line-height: 27px;
    }
    .steps_item-text {
        font-size: 20px;
        line-height: 25px;
        margin-top: 20px;
    }

    .payment_requisites {
        padding: 30px 14px;
        width: 420px;
    }
    .tabs_container form {
        width: calc(100% - 470px);
    }
    .payment form button{
        max-width: 100%;
    }
    .tabs button.active {
        font-size: 20px;
        line-height: 25px;
    }
    .tabs button {
        font-size: 20px;
        line-height: 25px;
    }




}
